<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/ilylily.css'%}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    </style>
</head>
<body>
    {% include 'nav_bar.html'%}
    {% block content %}

    {% endblock content %}
</body>
<script src="{% static 'js/ilylily.js'%}"></script>
</html>